<div>
  <section>
    <main>
      <app-board
        [mineCount]="_board.mineCount"
        [width]="_board.width"
        [height]="_board.height"
        [cells]="_board.cells"
        [status]="_board.status"
        [remainingMines]="_board.remainingMines"
      >
      </app-board>
    </main>

    <footer>
      <div>
        <form>
          <select
            name="_level"
            [ngModel]="_level"
            (ngModelChange)="onChangeGameLevel($event)"
          >
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
        </form>
        <button type="button" (click)="startNewGame()">New game</button>
        <span>Amount of flags left: {{ _board.remainingMines }}</span>
      </div>
    </footer>
  </section>
</div>
