<ng-container *ngIf="isRevealed; else noReveal">
  <ng-container *ngIf="isMine; else nothing">
    <img src="/assets/mine.png" alt="Mine" width="38px" height="38px" />
  </ng-container>
  <ng-template #nothing>
    <ng-container *ngIf="isFlagged != 3; else wrong">
      <img
      src="/assets/Minesweeper_{{ neighbourMines }}.png"
      width="38px"
      height="38px"
    />
  </ng-container>
</ng-template>

  <ng-template #wrong>
    <img
      src="/assets/wrong-mine.png"
      alt="{{ row }} - {{ column }} - {{ isFlagged }}"
      width="38px"
      height="38px"
    />
  </ng-template>
</ng-container>

<ng-template #noReveal>
  <button
    pressEventIndicator
    type="button"
    (click)="onClick($event)"
    (contextmenu)="onContextMenu($event)"
    [ngSwitch]="isFlagged"
  >
    <img
      *ngSwitchCase="1"
      src="/assets/Minesweeper_flag.png"
      alt="{{ row }} - {{ column }} - {{ isFlagged }}"
      width="38px"
      height="38px"
    />
    <img
      *ngSwitchCase="2"
      src="/assets/Minesweeper_questionMark.png"
      alt="{{ row }} - {{ column }} - {{ isFlagged }}"
      width="38px"
      height="38px"
    />
    <img
      *ngSwitchDefault
      src="/assets/Minesweeper_unopened_square.png"
      alt="{{ row }} - {{ column }} - {{ isFlagged }}"
      width="38px"
      height="38px"
    />
  </button>
</ng-template>
